.spinner {
    height: 100% !important;
}

label {
    margin-bottom: -4px;
}

.borderInput {
    margin-top: -2px;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #AAA;
}

.buttonPublicar {
    margin-top: 15px;
    width: 100% !important;
}

.showFormButton {
    margin-left: 10px;
    background: none;
    border: 1px solid #9199ab;
}

.showFormButton:hover, .showFormButton:active {
    background: #EEE;
    border: 1px solid #DDD;
}

.alerts {
    color: red;
    font-size: 12px;
    margin-left: 10px;
}

.dateCampo {
    font-size: 1rem;
    color: #656c7a;
    margin-left: -15px;
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Card {
    box-shadow: 2px 2px 8px 1px #d8cdcd;
    border: 0;
    background: rgba(243, 249, 255, 0.5);
    cursor: pointer;
}

.CardInvalido {
    opacity: 0.6;
    box-shadow: 2px 2px 8px 1px #d8cdcd;
    border: 0;
    background: rgba(243, 249, 255, 0.5);
    cursor: pointer;
}

.cardTitle {
    font-weight: bold;
    font-size: 0.9rem;
}

.cardAlignInvalid {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lineLoadding {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

small {
    font-size: 0.8rem;
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;

}

#listgroup {
    width: 90%;
    margin-top: 0px;
    box-shadow: 0px 6px 7px 2px #ccc;
    position: absolute;
    z-index: 9999;

    max-height: 300px;
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
}

.itemLista {
    cursor: pointer;
}

.listHover:hover {
    background: #eee;
}